<!--COMP 229-Express Portfolio Site - Student name: Arpan Gohel - StudentID:300565463 - Oct05,2022-->

<!--Footer section-->
<!-- Bottom Navigation-->
<footer>
  <nav class="navbar fixed-bottom navbar-dark bg-dark mx-auto">
    <h6 class="navbar-text" style="font-size:smaller; margin-left: 20px;"> Copyright &copy; 2022 ArpanGohel Student#:300565463-COMP229</h6>
  </nav>
</footer> 
    <!-- Script section -->
  <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/scripts/app.js"></script>
  </div>
 </body>
</html>