<!--COMP 229-Express Portfolio Site - Student name: Arpan Gohel - StudentID:300565463 - Oct05,2022-->

<%- include partials/header.ejs %>
 <%- include partials/nav.ejs %>
<main>
   <img style="width:300px; border-radius:55%;float:left; margin-top: 2%;" src = "/assets/images/myimg.jpg">
      <h3 style= "text-align:center;float:none; margin-top:10%; color:antiquewhite;">
                Hello! Welcome to my Portfolio site. My name is Arpan Gohel.
                I am currently in third semester of Software Engineering Technician program 
                at Centennial College, Toronto, ON. I am planning to become a full-stack developer
                after my graduation. I have adequate knowledge of HTML, CSS, JavaScript, C#, SQL
                and JAVA to step my foot in to the IT industry. I have learned client-side web
                development and currently studying server-side. I also have basic knowledge of 
                UNIX/LINUX from my previous courses. I have the potential to learn and find solutions
                on my own. I am ready to thrive in the real world industry and work on some 
                interesting projects. Thank you!
        </h3>
      <a style="margin-left:5%" href="/assets/images/resume.pdf">Please click here for my Resume.</a>
</main>
<%- include partials/footer.ejs %>