<!--COMP 229-Express Portfolio Site - Student name: Arpan Gohel - StudentID:300565463 - Oct05,2022-->

<%- include partials/header.ejs %>
<%- include partials/nav.ejs %>
  <!-- Main content -->
<main>
  <div class="heading">
    <u style="color:antiquewhite"><h1 style="text-align:center; color:antiquewhite; margin-top:5%;">Welcome to my Portfolio site!!</h1></u>
      <img style="width:500px; border-radius:10%;margin-top:2%;margin-left: 25%;" src = "/assets/images/future.jpg">
    <h1 style="text-align:center; color:antiquewhite; margin-top:2%;">Let's change and develop the human lives with the power of coding and programming!! </h1>
  </div>
</main>
<%- include partials/footer.ejs %>

