<!--COMP 229-Express Portfolio Site - Student name: Arpan Gohel - StudentID:300565463 - Oct05,2022-->

<%- include partials/header.ejs %>
 <%- include partials/nav.ejs %>
<main>
  <h2 style="color:antiquewhite; margin-top:5%;margin-left:5%;"><u>Services Offered for Clients:</u></h2>
    <ul style="color:antiquewhite; margin-top:5%;margin-left:5%;font-size:x-large;">
      <li>Website Development</li>
        <br>
          <br>
      <li>Maintaining/Manipulation of Database and handling SQL queries</li>
        <br>
    <img style="width:350px; border-radius:40%; float:right;" src = "/assets/images/service.jpg">
        <br>
      <li>General Programming</li>
        <br>
          <br>
      <li>Building Web/Mobile Applications</li>
        <br>
          <br>
      <li>Front & Back end development & support</li>
    </ul>
</main>
<%- include partials/footer.ejs %>